body {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content-title {
    text-align: center;
    margin-bottom: 2rem;
}

.logo {
    font-size: 2rem;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.content-body {
    text-align: center;
    margin-bottom: 1rem;
}

.button input[type="submit"] {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #ffbeac;
    color: black;
    border: none;
    cursor: pointer;
}

.button input[type="submit"]:hover {
    background-color: #ff8f71;
}