body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
h1 {
    text-align: center;
}
label {
    font: 1rem 'Fira Sans', sans-serif;
    display: flex;
    justify-content: center;
}
input {
    margin: 0.4rem;
}
button {
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ffbeac;
    color: #000;
    border: none;
    cursor: pointer;
}
.bicycle .bicycle-logo {
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto;
}
fieldset {
    max-width: 500px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center-align the fieldset */
    padding: 20px; /* Adjust the padding as needed */
}
button:focus {
    outline: none;
}

/* 예시에서 사용되는 추가 스타일 */
a {
    text-decoration: none;
    color: black;
}