body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.content {
    max-width: 500px;
    margin: 3rem auto;
    text-align: center;
    border: 1px solid black;
}
.content-title {
    background-color: #ffbeac;
    padding: 20px;
    text-align: center;
}
.content-title .logo img {
    width: 150px;
    height: 150px;
}
.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.content-body {
    text-align: center;
    margin-bottom: 1rem;
}

.button input[type="submit"] {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #ffbeac;
    color: black;
    cursor: pointer;
    margin-top: 0.5rem;
}
.input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button input[type="submit"]:hover {
    background-color: #ff8f71;

}

