p,
label {
    font: 0.9rem 'Fira Sans', sans-serif; /* Reduce the font size */
}

input {
    margin: 0.2rem; /* Reduce the margin */
}

.button {
    text-align: center;
    margin-top: 20px;
}
.button input[type="submit"] {
    padding: 8px 16px; /* Reduce the padding */
    background-color: #ffbeac;
    color: #000;
    border: none;
    cursor: pointer;
}
.button input[type="submit"]:focus {
    outline: none;
}

/* 경고 메시지 스타일 */
.alert {
    color: #000;
    font-weight: bold;
    margin-top: 10px;
}
.selectContainer{
    display: flex;
    justify-content: center;
}
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.selectContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; /* Adjust the margin-bottom as needed */
}
fieldset {
    max-width: 500px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center-align the fieldset */
    padding: 20px; /* Adjust the padding as needed */
}