* {
    padding: 0;
    margin: 0;
}
.show-list {
    width: 1000px;
    margin: 3rem auto;
}

.list {
    display: flex;
}
.list div{
    margin: 0 auto;
    font-weight: bold;
    font-family: 'omyu_pretty';
}
.content {
    margin: 1rem auto;
    border:solid 1px lightgray;
    display: block;
    height: auto;
    white-space: normal;
}
.list-bottom {
    justify-content: center;
    display: flex;
}
.list-bottom img {
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
}
.list-bottom .page-num {
    margin: 0.5rem auto;
    font-weight: bold;
    vertical-align: center;
}
.btn {
    margin-top: 1rem;
    text-align: right;
}
.btn .gotoInsert {
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: larger;
}
