body {
    margin: 0;
    padding: 0;
}
.header-layout {
    background-color: #ffbeac;
    height: 80px;
    display: flex;
}
.header-layout .my-logo {
    width: 100px;
    height: 100px;
    margin: 0;
}
.header-layout  a {
    text-decoration: none;
    color: black;
    font-family: 'omyu_pretty';
    width: 100px;
    height: 50px;
    text-align: center;
    vertical-align: center;
    line-height: 55px;
    margin: 0.6rem auto;
    font-style: normal;
    font-weight: bold;
    border:none;
}
