.content{
    margin: 0 40%;
    margin-top: 10%;
}
.content-title{
    display: flex;
    color: #FF9378;
}
.logo{
    flex-basis: 30%;
}
.logo > img{
    height: 100px;
    object-fit: cover;
}
.title{
    font-size: 14px;
    flex-basis: 70%;
    text-align: center;
    line-height: 100px;
}
.content-body{
    border: 1px solid #cccccc;
    box-shadow: 2px 3px 5px 0px #cccccc;
    text-align: center;
}
.input-form > * {
    margin-top: 15px;
}
.button {
    border-top: 1px solid #cccccc;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}
.button > *{
    margin-top: 15px;
}
.cancel-btn{
    color: #cccccc;
}
.register-btn{
    color: #FF9378;
    border: none;
    background-color: #ffffff;
}