/* BicycleRegister.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.content-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.content-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.input-form * {
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 8px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
}

.register_btn {
    background-color: #ffbeac;
    color: #000;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

.register_btn:hover {
    background-color: #fdc6b1;
}
