body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.content-title {
    background-color: #ffbeac;
    padding: 20px;
    text-align: center;
}

.content-title .logo {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.content-title .logo img {
    width: 100%;
    height: auto;
}

.content-title .title {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

.content {
    max-width: 500px;
    margin: 3rem auto;
    text-align: center;
    border: 1px solid black;
}

.content-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.btn {
    padding: 10px;
    background-color: #ffbeac;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    font-size: 16px;
    text-align: center;
    width: 200px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ffb38d;
}